apiVersion: v1
baseDomain: {{ hostvars['kubeinit-cluster'].cluster_domain }}
compute:
  - hyperthreading: Enabled
    name: worker
    replicas: 0
controlPlane:
  hyperthreading: Enabled
  name: master
  replicas: {{ kubeinit_controller_count }}
metadata:
  name: {{ kubeinit_cluster_name }}
networking:
  clusterNetwork:
    - cidr: {{ kubeinit_openshift_pod_cidr }}
      hostPrefix: 23
  networkType: {{ kubeinit_openshift_network_type }}
  serviceNetwork:
    - {{ kubeinit_openshift_service_cidr }}
platform:
  none: {}
fips: false
{% if 'registry' in hostvars['kubeinit-cluster'].services %}
pullSecret: '  {{ kubeinit_registry_pullsecret | to_json }}'
{% else %}
pullSecret: '  {{ kubeinit_openshift_registry_pullsecret | to_json }}'
{% endif %}
sshKey: |
{% for authorized_key in hostvars['kubeinit-cluster'].authorized_keys %}
  {{ authorized_key }}
{% endfor %}
{% if 'registry' in hostvars['kubeinit-cluster'].services %}
additionalTrustBundle: |
  {{ hostvars['kubeinit-cluster'].domain_cert | regex_replace('\n', '\n  ') }}
imageContentSources:
- mirrors:
  - {{ kubeinit_registry_uri }}/okd
  source: quay.io/openshift/okd
- mirrors:
  - {{ kubeinit_registry_uri }}/okd
  source: quay.io/openshift/okd-content
{% endif %}
